html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: inherit;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden;
  color: #fafafa;
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  width: 100%;
}

header {
  background-color: #ffffff;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  max-width: 1250px;
}

#header-logo {
  margin: 5px;
  margin-bottom: 2px;
}

#mobile-menu-button {
  margin-right: 17px;
}

#homepage-banner {
  min-width: 100vw;
  width: 99vw;
  margin-bottom: 20px;
  transition: all 150ms linear;
}

#homepage-carrossel-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

#homepage-main-image-container {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 95vw;
  position: relative;
  margin-top: 20px;
}

#main-homepage-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: clip;
}
#main-homepage-images .juxtapose {
  display: none;
}
#main-homepage-images .selected-image {
  display: block;
}

#homepage-comparisons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.juxtapose {
  width: 100vw;
  height: 100%;
}

.jx-image img {
  width: 100vw;
  height: 100vw;
}

#preview-container {
  width: 100%;
}

.arrow-button {
  position: relative;
  top: 2px;
}

#image-selector {
  padding: 7px 15px 7px 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
  width: 90%;
  margin-bottom: 20px;
}

#homepage-description {
  margin-bottom: 13px;
  padding: 5px 10px;
  min-width: unset;
}

#book-now-button {
  padding: 10px 15px;
  background-color: #141414;
  color: #fafafa;
  border-radius: 10px;
  font-weight: 700;
  margin-bottom: 40px;
  border: 2px solid #141414;
}

#our-work {
  align-self: flex-start;
  margin-left: 5px;
}

footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 10px 15px 10px;
  background-color: #f4f4f4;
  font-size: 0.7rem;
  margin-top: 20px;
}
footer p {
  margin-top: 10px;
  margin-left: 2px;
  margin-bottom: 20px;
}
footer #footer-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  margin: 0px 5px;
  overflow: hidden;
}
footer .footer-link-icon {
  height: 100%;
}

#top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  max-width: 1100px;
}

#top-content-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#team-quotes {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px;
}
#team-quotes .quote-header {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
#team-quotes .quote-header img {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
}
#team-quotes .quote-header p {
  color: #141414;
  font-weight: 700;
  margin-right: 10px;
}
#team-quotes .quote-header .quote-author {
  font-style: normal;
}
#team-quotes .quote-header .quote-author-position {
  font-weight: 500;
  color: #8d8d8d;
  font-style: normal;
}
#team-quotes p {
  color: #696969;
  font-size: 1rem;
  font-style: italic;
}

.footer-link:hover .footer-link-icon {
  fill: #ebebeb;
}

h2 {
  color: #141414;
}

h1 {
  color: #141414;
  margin-bottom: 12px;
}
h1 br {
  display: none;
}

.light-p {
  color: #696969;
}

.center-text-mobile {
  text-align: center;
}

p {
  color: #141414;
}

button {
  background-color: transparent;
  border: none;
  transition: all 150ms linear;
}

button:hover {
  cursor: pointer;
}

#book-now-button:hover {
  background-color: #fafafa;
  color: #141414;
}

@media (min-width: 530px) {
  main {
    flex-direction: column;
  }
  #top-content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 0px 20px;
    margin-bottom: 35px;
    margin-top: 10px;
  }
  #top-content #top-content-right {
    padding: 30px 15px 15px 25px;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    width: 50%;
  }
  #top-content #top-content-right h1 {
    font-size: 3.3rem;
    text-align: left;
  }
  #top-content #top-content-right h1 br {
    display: inline;
  }
  #top-content #top-content-right p {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
    max-width: 400px;
    padding: 0;
  }
  #our-work {
    margin-left: 20px;
  }
  #homepage-banner {
    width: 50%;
    margin: 0;
    border-radius: 6px;
    min-width: 510px;
  }
  #homepage-main-image-container {
    height: 100%;
    max-height: 50.3vw;
    width: 900px;
    max-width: 50vw;
    align-self: flex-start;
    margin: 0;
  }
  #homepage-carrossel-wrapper {
    height: 100%;
    margin: 0;
  }
  #image-selector {
    width: 70%;
    max-width: 350px;
  }
  #homepage-comparisons {
    margin-top: 20px;
    height: 50vw;
    max-height: 525px;
    flex-direction: row;
    padding-right: 20px;
  }
  #team-quotes {
    margin-left: 10px;
    padding: 0;
  }
  #team-quotes p {
    color: #696969;
    font-size: 1.2rem;
    font-style: italic;
  }
  #main-homepage-images {
    height: 100%;
    width: 100%;
  }
  .juxtapose {
    height: 100%;
    width: 400px;
    max-height: 95%;
    padding: 0;
    margin: 0px 10px;
  }
  #image-selector {
    margin: 0;
  }
}
@media (min-width: 675px) {
  #homepage-banner {
    min-width: 600px;
  }
}
@media (min-width: 920px) {
  #top-content {
    margin: 25px auto 55px auto;
    padding: 0px 20px;
  }
  #book-now-button {
    margin: 0;
  }
  #homepage-banner {
    min-width: 510px;
  }
  #team-quotes .quote-header .quote-author {
    font-style: normal;
  }
  #team-quotes .quote-header .quote-author-position {
    font-weight: 500;
    color: #8d8d8d;
    font-style: normal;
  }
  #team-quotes p {
    max-width: 300px;
    color: #696969;
    font-size: 1.4rem;
    font-style: italic;
  }
}
@media (max-width: 920px) {
  main {
    flex-direction: column;
  }
  #top-content {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  #top-content #top-content-right {
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  #top-content #top-content-right h1 {
    text-align: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  #top-content #top-content-right h1 br {
    display: none;
  }
  #top-content #top-content-right p {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    max-width: 400px;
    min-width: 400px;
    padding: 0;
  }
}
@media (max-width: 530px) {
  #top-content #top-content-right p {
    min-width: unset;
  }
  #homepage-banner {
    transition: none;
  }
}/*# sourceMappingURL=style.css.map */